[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "embeddedsw"]
	path = embeddedsw
	url = https://github.com/erique/embeddedsw.git
[submodule "zynqmp-pmufw-builder"]
	path = zynqmp-pmufw-builder
	url = https://github.com/erique/zynqmp-pmufw-builder.git
